.home-carousel {
position: relative;
height: 80vh;
overflow: hidden;
background: linear-gradient(to top, #3d1188, #12023f);
padding: 40px;
display: flex;
justify-content: center;
align-items: center;
}

.animated {
display: flex;
transition: transform 0.8s ease-in-out;
width: 100%;
}

.content {
    min-width: 100%; /* مهم جدًا علشان كل سلايد ياخد الشاشة بالكامل */
    display: flex;
    align-items: center;
    justify-content: space-around;
color: #222;
padding: 20px;
margin-left: 30px;
margin: 20px;
}

.info {
width: 48%;
}
.image img {
    width: 400px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #FFF;
    margin-right: 100px;
    box-shadow: 0 2px 20px red;
    transition: .5s;
}
.image img:hover{
    transform: scale(1.1);
}

.btn-prev,
.btn-next {
position: absolute;
top: 50%;
transform: translateY(-50%);
color: #fff;
background: #e40505;
border: none;
padding: 4px 8px;
font-size: 30px;
cursor: pointer;
border-radius: 50%;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
transition: 0.3s;
}

.btn-prev:hover,
.btn-next:hover {
background: #9607079c;
}

.btn-prev {
left: 20px;
}

.btn-next {
right: 20px;
}

.heading {
font-size: 18px;
font-weight: 700;
color: #fb0404;
}

.title {
font-size: 45px;
font-weight: bold;
margin: 20px 0;
color: #fff;
}

.desc {
font-size: 16px;
line-height: 1.5;
margin-bottom: 30px;
color: #fffdfd88;

}

.btn-shop {
background: red;
color: #fff;
border: none;
padding: 10px 20px;
font-size: 16px;
border-radius: 8px;
cursor: pointer;
transition: 0.3s;
}

.btn-shop:hover {
background: rgba(138, 23, 23, 0.667);
}


/* ========== الموبايل ========== */
@media (max-width: 768px) {
.home-carousel {
height: auto;
padding: 20px 10px;
}

.content {
flex-direction: column;
text-align: center;
margin: 0;
}

.info {
    width: 100%;
    margin-top: 20px;
}

.image{
    order : -1 ;

}
.image img {
width: 220px;
margin: 0 auto;
box-shadow: 0 2px 15px red;
}

.heading {
font-size: 16px;
}

.title {
font-size: 28px;
margin: 15px 0;
}

.desc {
font-size: 14px;
line-height: 1.4;
}

.btn-shop {
padding: 8px 18px;
font-size: 14px;
}

.btn-prev,
.btn-next {
font-size: 22px;
padding: 2px 6px;
top: 90%;
}

.btn-prev {
left: 15px;
}

.btn-next {
right: 15px;
}
}